* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
}
#navbar {
    border-left: 8px rgb(13, 158, 0) solid;
    background-color: grey;
    width: 1920px;
    height: 70px;
}
nav ul li {
    float: left;
    margin-right: 25px;
    margin-left: 10px;
    list-style: none;
}